{% extends 'base.html '%}
{% block head %}
<title>abour page</title>
{% endblock%}

{%block body%}
<main class="container mx-auto my-4 bg-light border" style="width:60%;">
<h1 class="p-2 border-bottom border-2">About page</h1>
<p>
    This flask app is developed for basic understanding of python-flask and 
    our website is developed using the html and bootstrap.
</p>
<p>
    For stay with us please click <strong><a href="/signup" class=" btn btn-outline-success py-1">signup</a></strong> and <strong><a href="/signin" class=" btn btn-outline-success py-1">signin</a></strong>

</p>
</h1></main>
{% endblock%}