{% extends 'base.html '%} {% block head %}
<title>home page</title>
{% endblock%} {%block body%}
<main class="container mx-auto my-4 bg-light border" style="width: 70%">
  <div class="p-4">
    <h2>{{ user[0] +" " + user[1]}}</h2>
    <div class="border rounded fs-5 p-1 px-5 mb-3" style="width: 60%">
      <span style="display: block">first name:{{user[0]}}</span>
      <span style="display: block">last name:{{user[1]}}</span>
      <span style="display: block">email:{{user[2]}}</span>
      <span style="display: block">phone:{{user[3]}}</span>
      <span style="display: block">date of brith:{{user[5 ]}}</span>
    </div>
  </div>
</main>
{% endblock%}
